<main>
  <h1>Ajouter un chantier</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Code</div>
      <input type="text" formControlName="code" />
    </label>
    <label>
      <div>Libellé</div>
      <input type="text" formControlName="label" />
    </label>
    <label>
      <div>Statut</div>
      <input type="text" formControlName="status" />
    </label>
    <button type="submit" [disabled]="f.invalid" class="primary">Créer</button>
    <button type="button" (click)="reset()">Annuler</button>
  </form>
</main>
