<main>
  <h1>Liste des salariés</h1>
  <div class="content">
    <div class="buttons">
      <button title="Rafraichir" (click)="refresh()"><fa-icon [icon]="faRedo" [spin]="loading$ | async"></fa-icon></button>
    </div>
    <table>
      <caption>
        Liste des salariés
      </caption>
      <thead>
        <tr>
          <th scope="row">Code</th>
          <th scope="row">Nom</th>
          <th scope="row">Prenom</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of salarie$ | async">
          <td>{{ s.code }}</td>
          <td>{{ s.name }}</td>
          <td>{{ s.firstname }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
