<main>
  <h1>Liste des chantiers</h1>
  <div class="content">
    <div class="buttons">
      <button>Rafraichir</button>
      <button routerLink="/chantiers/nouveau">Ajouter</button>
    </div>
    <table>
      <caption>
        Liste des chantiers
      </caption>
      <thead>
        <tr>
          <th scope="row">Code</th>
          <th scope="row">Libellé</th>
          <th scope="row">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of projectService.projects">
          <td>{{ p.code }}</td>
          <td>{{ p.label }}</td>
          <td>{{ p.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
