<main>
  <h1>Liste des chantiers</h1>
  <div class="content">
    <div class="buttons">
      <button title="Rafraichir"><fa-icon [icon]="faRedo"></fa-icon></button>
      <button routerLink="/chantiers/nouveau" title="Ajouter"><fa-icon [icon]="faPlus"></fa-icon></button>
      <button title="Supprimer" *ngIf="selectedProjects.length > 0" (click)="remove()"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
    </div>
    <table>
      <caption>
        Liste des chantiers
      </caption>
      <thead>
        <tr>
          <th scope="row">Code</th>
          <th scope="row">Libellé</th>
          <th scope="row">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr
          [class.selected]="selectedProjects.includes(p)"
          (click)="toggle(p)"
          *ngFor="let p of projectService.projects$ | async"
        >
          <td>{{ p.code }}</td>
          <td>{{ p.label | ellipsis: 15 }}</td>
          <td>{{ p.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
