<main>
  <h1>Liste des chantiers</h1>
  <div class="content">
    <div class="buttons">
      <button>Rafraichir</button>
      <button>Ajouter</button>
    </div>
    <table>
      <caption>
        Liste des chantiers
      </caption>
      <thead>
        <tr>
          <th scope="row">Code</th>
          <th scope="row">Libellé</th>
          <th scope="row">Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>6010</td>
          <td>Mairie de Reims, parking</td>
          <td>Cloturé</td>
        </tr>
        <tr>
          <td>3040</td>
          <td>Mairie de Nancy, parking gare</td>
          <td>En cours</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>OPHLM, parking immeuble A</td>
          <td>En cours</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
